@charset "utf-8";
.code_bg{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}
.icon-login-bg{
    background-image: url(../images/loginicon.png);
    background-repeat: no-repeat;
}
.code-con{
    position: absolute;
    top:170px;
    width: 320px;
    left: 50%;
    box-shadow: 4px 0 8px #0d1017;
    margin-left: -160px;
    background-color: #fff;
    z-index: 100;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.code-img{
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: #f5f6f7;
}
.code-img img{
    display: block;
}
.icon-w-25{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}
.icon-push{
    cursor: pointer;
    background-position: -149px -95px;
}
.code-push{
    height: 25px;
}
.code-btn{
    position: relative;
    height: 30px;
    line-height: 25px;
    text-align: center;
    color: #999;
    margin: 30px 10px 10px;
    box-sizing: border-box;
    background-color: #f5f6f7;
    /*border-radius: 15px;*/
    border: 1px solid #e1e1e1;
}
.code-btn-m{
    position: absolute;
    width: 40px;
    height: 100%;
    /*border-radius: 4px;*/
    background-color: #f5f6f7;
    border: 1px solid #e1e1e1;
    z-index: 5;
    top: 0;
    /*left: 10px;*/
    box-shadow: 0 0 3px #ccc;
    cursor: pointer;
}
.code-btn-img{
    background-color: #fff;
    transition: background .2s linear;
}
.code-btn-img:hover{
    background-color: #1ea5fb;
    cursor: pointer;
    transition: background .2s linear;
}
.code-btn-img.active{
    background-color: #1ea5fb;
}
.code-btn-img.error{
    background-color: #ff0000;
}
.code-btn-slider-icon{
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    width: 14px;
    height: 10px;
    background-image: url(../images/icon_light.png);
    background-position: 0 -26px;
    background-size: 32px 544px;
}
.code-img-con{
    position: relative;
}
.code-back-img{
	width: 300px;
	height: 150px;
}
.code-btn-slide-indicator{
    height: 100%;
    position: absolute;
    /*border-radius: 15px 0 0 15px;*/
    background-color: #1ea5fb;
}
.code-mask{
    position: absolute;
    top:0;
    left: -10px;
    z-index: 10;
}
.code-tip{
    padding-left: 10px;
    font-size: 12px;
    color: #999;
}
.code-tip-red{
    color: red;
}
.code-tip-green{
    color: green;
}
.valid-error-msg{
    color: red;
}
.valid-suc-msg{
    color: green;
}
.code-tips span{
    margin-top: 6px;
    line-height: 20px;
    margin-right: 4px;
    float: left;
}
.code-img .refreshIcon{
    background:url(../images/header3.png) center no-repeat !important;
    height: 20px;
    width: 20px;
}
.code-front-img{
	width: 60px;
	height: 60px;
}
